*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#360369;
    height: 100%;
}
.main-container{
    margin-left: 40px;
    margin-top: 20px;
}
.container1{
    color: white;
    line-height:30px;
}
.container1 h2{
    font-size: 30px;
}


.locationContainer{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.latitude {
    background-color:rgb(32, 1, 32); /* Background color for latitude */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    width: 180px;
}
.longitude {
    background-color:rgb(32, 1, 32) ; /* Background color for longitude */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    width: 180px;
}

#map {
    height: 500px;
    position: relative;
    width: 100%;
    margin-top:60px;
  }
  